Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

codecov.yml:

component_management:
  individual_components:
    - component_id: "protocol"
      paths:
        - "protocol/"
    - component_id: "httpclient"
      paths:
        - "httpclient/"

comment:
  layout: "header, diff, components"

Fix httpserver web5 dependency
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
Due: httpclient

Fix httpserver web5 dependency (#120)
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
Due: httpclient

Submit close tests done
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
Due: none

Submit order tests done
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: none

Wrap up testing
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

Detekt changes
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

adding getofferings and getexchanges req handler
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetOfferingsTest.kt
Due: httpclient

adding getofferings and getexchanges req handler
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: httpclient

adding tests
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: none

PR review changes
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

Fix test
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: none

adding docs
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetOfferingsTest.kt
Due: none

Fix imports
  .editorconfig
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

http-server: GetOfferings and GetExchanges (#123)
  .editorconfig
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetOfferingsTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

Copy json schema and test vectors from tbdex submodule
  .gitmodules
  protocol/build.gradle.kts
  protocol/src/main/resources/close.schema.json
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/order.schema.json
  protocol/src/main/resources/orderstatus.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/reputation.schema.json
  protocol/src/main/resources/resource.schema.json
  protocol/src/main/resources/rfq.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/resources/test-vectors/parse-close.json
  protocol/src/test/resources/test-vectors/parse-offering.json
  protocol/src/test/resources/test-vectors/parse-order.json
  protocol/src/test/resources/test-vectors/parse-orderstatus.json
  protocol/src/test/resources/test-vectors/parse-quote.json
  protocol/src/test/resources/test-vectors/parse-rfq.json
  protocol/src/test/resources/testVectors.json
Due: protocol

PR review changes
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

detekt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
Due: none

import ordering
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
Due: none

ordering
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
Due: none

remove unused
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
Due: none

WIP
  .editorconfig
  .github/workflows/ci.yaml
Due: none

using jwt to create bearer token
  httpclient/build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
Due: httpclient

Use http git url for .gitmodules
  .gitmodules
Due: none

Remove preceding slash from path
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
Due: protocol

WIP rewrite vector tests for new vector structure
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/MessagesVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ResourceVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
Due: protocol

PR review changes
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
Due: none

adding verifyrequesttoken() method with some todos
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/UtilsTest.kt
Due: httpclient

http-server: remaining endpoints (#119)
  .editorconfig
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetOfferingsTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

WIP rewrite vector tests for new vector structure
  protocol/src/test/kotlin/tbdex/sdk/protocol/MessagesVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ResourceVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
Due: protocol

Remove unused private methods
  protocol/src/test/kotlin/tbdex/sdk/protocol/MessagesVectorTest.kt
Due: protocol

This works when connected to internet but breaks offline
  protocol/src/main/resources/message.schema.json
Due: protocol

add vector upload
  .github/workflows/ci.yaml
Due: none

Translate external URIs to internal resource URIs
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
Due: protocol

Lint
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
Due: protocol

Flesh out tests and update README
  README.md
  protocol/src/test/kotlin/tbdex/sdk/protocol/MessagesVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ResourceVectorTest.kt
Due: protocol

adding a test
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/UtilsTest.kt
Due: httpclient

adding ktdoc
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
Due: httpclient

Upload test vector xmls (#127)
  .editorconfig
  .github/workflows/ci.yaml
Due: none

Add gradle task
  build.gradle.kts
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsMessageParse.kt
Due: protocol
