Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

update with appropriate instructions (#154)
  README.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#155)
  README.md
Due: none

aligning jackson version to be same, 2.14.2. fixed top level build.gradle.kts to include dependencies so we can publish rollup
  build.gradle.kts
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

fixing readme dependency import example
  README.md
Due: none

fixing test failures. pointing to latest tbdex submodule
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  protocol/build.gradle.kts
Due: protocol, httpclient

Fix readme, fix publish issue (#152)
  README.md
  build.gradle.kts
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  protocol/build.gradle.kts
Due: protocol, httpclient

adding a hardcode string instead of a variable
  build.gradle.kts
Due: none

update and tidy for 0.10.0-beta
  README.md
Due: none

update and tidy for 0.10.0-beta (#158)
  README.md
Due: none

using public hermit version
  bin/.gradle@8.2.pkg
  bin/gradle
  bin/hermit
  bin/jaotc
Due: none

removing gradle wrapper directory
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

adding temp repo to pull down danubetech deps
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

Overload TbdexHttpClient.getExchange to accept TypeId
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

updating temp repo mavencontent settings
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

adding temp repo to pull down danubetech deps (#164)
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

Issue #159 - Centralize versioning in Gradle Version Catalog
  build.gradle.kts
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

writing a small readme about hermit
  README.md
Due: none

addressing code review comments
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  bin/.gradle-8.2.pkg
  bin/.openjdk-11.0.10_9.pkg
  bin/gradle
  bin/jaotc
  bin/jar
  bin/jarsigner
  bin/java
  bin/javac
  bin/javadoc
  bin/javap
  bin/jcmd
  bin/jconsole
  bin/jdb
  bin/jdeprscan
  bin/jdeps
  bin/jfr
  bin/jhsdb
  bin/jimage
  bin/jinfo
  bin/jjs
  bin/jlink
  bin/jmap
  bin/jmod
  bin/jps
  bin/jrunscript
  bin/jshell
  bin/jstack
  bin/jstat
  bin/jstatd
  bin/keytool
  bin/pack200
  bin/rmic
  bin/rmid
  bin/rmiregistry
  bin/serialver
  bin/unpack200
  build.gradle.kts
Due: none

adding a section on readme about hermit package management
  README.md
Due: none

Issue #159 - Centralize versioning in Gradle Version Catalog (#160)
  build.gradle.kts
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

Issue #166: Apply forced version resolution to all projects
  build.gradle.kts
Due: none

Issue #167: Address sec vuln in com.fasterxml.woodstox:woodstox-core
  build.gradle.kts
Due: none

Issue #168: Address sec vuln in com.google.guava:guava
  build.gradle.kts
Due: none

Issue #170: Address sec vuln in com.squareup.okio:okio
  build.gradle.kts
Due: none

Issue #169: Address sec vuln in com.google.protobuf:protobuf-javalite
  build.gradle.kts
Due: none

PR #165: Improve docs on the 'buildscript' block for clarity
  build.gradle.kts
Due: none

test fossa license scan
  README.md
Due: none

Fix and test that rfq is wrapped in object in CreateExchange endpoint
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Overload TbdexHttpClient.getExchange to accept TypeId (#175)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Compare parsed JSON
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Fix and test that rfq is wrapped in object in CreateExchange endpoint (#177)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Remove exchangeId from submit endpoint paths
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: httpclient

Path conditions:
  protocol: any of: protocol/
  httpclient: any of: httpclient/
