Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

using didion.create instead of a hardcoded did string
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Fix web5-kt version tag
  httpclient/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

Bump tbdex version to 0.6.0
  build.gradle.kts
Due: none

Fix tests, broken schema urls
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/resource.schema.json
Due: protocol

Fix web5-kt version tag & broken schema links (#108)
  build.gradle.kts
  httpclient/build.gradle.kts
  protocol/build.gradle.kts
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/resource.schema.json
Due: protocol, httpclient

Updates the web5-kt deps (#107)
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/build.gradle.kts
  protocol/src/main/resources/definitions.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

Decouples security scanning analysis and add FOSSA
  .github/workflows/security.yaml
Due: none

snyk and fossa
  .github/workflows/security.yaml
Due: none

pr cleanup
  .github/workflows/security.yaml
Due: none

Add Snyk for Vulns and License checks (#101)
  .github/workflows/security.yaml
Due: none

WIP
  httpserver/README.md
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Types.kt
  settings.gradle.kts
Due: none

adding initial server scaffolding and offering/exchange apis
  httpserver/src/main/kotlin/Server.kt
  httpserver/src/main/kotlin/Types.kt
  httpserver/src/main/kotlin/tbdex/server/requestHandlers/SubmitRfq.kt
Due: none

WIP
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/TbdexResponse.kt
  httpserver/src/main/kotlin/Server.kt
  httpserver/src/main/kotlin/Types.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Types.kt
  httpserver/src/main/kotlin/tbdex/server/requestHandlers/SubmitRfq.kt
Due: httpclient

WIP
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
Due: none

Update the dep to use maven latest release.
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

adding submitrfq
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

Dummy offerings API
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
Due: none

Update callbacks
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

Writing test
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

Test changes
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

changing how to call application.module. wrote a test that passes
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

pulled ErrorResponse out to TbdexResponse.kt, using that instead of ErrorDetail. was writing a test but found an issue with how Rfq is created (to be fixed in a separate branch)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/TbdexResponse.kt
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: httpclient

wrote another test. added TypeIdModule() so we deserialize to strings
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

Try base class for test server config
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest2.kt
Due: none

Refactor tests
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest2.kt
Due: none

kdocs
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
Due: none

Lint fixes
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  protocol/build.gradle.kts
Due: protocol, httpclient

Revert web5 bump
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

deps
  httpserver/build.gradle.kts
Due: none

detekt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
Due: none

add application block
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

Http-server scaffolding and `SubmitRfq` handler (#111)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/TbdexResponse.kt
  httpserver/README.md
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  protocol/build.gradle.kts
  settings.gradle.kts
Due: protocol, httpclient

Update the dep to use maven latest release. (#112)
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

WIP
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
Due: none

Update JSON schema URLs
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  protocol/src/main/resources/close.schema.json
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/order.schema.json
  protocol/src/main/resources/orderstatus.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/reputation.schema.json
  protocol/src/main/resources/rfq.schema.json
Due: protocol

implementation
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

Test WIP
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: none

Testinggg
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
Due: protocol

Update JSON schema URLs (#116)
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  protocol/src/main/resources/close.schema.json
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/order.schema.json
  protocol/src/main/resources/orderstatus.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/reputation.schema.json
  protocol/src/main/resources/rfq.schema.json
Due: protocol

Path conditions:
  protocol: any of: protocol/
  httpclient: any of: httpclient/
