Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

cache and remove java steps (#194)
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
Due: none

fixing tests. removing ion signing test because we yeeted ion from our supported ion methods.
  gradle/libs.versions.toml
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
Due: protocol, httpclient

adding replyTo as submitcallback function param
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

adding null fields
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
Due: none

Add `replyTo` as a submitcallback function param (#197)
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

bump web5-kt version to 0.13.0 (#196)
  gradle/libs.versions.toml
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
Due: protocol, httpclient

Add protocol field
  config/detekt.yml
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
Due: protocol

Add CODEOWNER
  CODEOWNERS
Due: none

Add CODEOWNER (#199)
  CODEOWNERS
Due: none

test updates
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol

Add protocol field (#198)
  config/detekt.yml
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol

bump web5 version to 0.14.0
  gradle/libs.versions.toml
Due: none

bump web5 version to 0.14.0 (#202)
  gradle/libs.versions.toml
Due: none

Update client to new endpoints
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
Due: httpclient

Update existing endpoints in server
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessageTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: none

Implement getExchanges server endpoint
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchange.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangeTest.kt
Due: none

Pass filter to ExchangeApi.getExchanges
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: none

PUT
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

dry
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

PUT and other fix
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessageTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: httpclient

Fix test
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

#200 Restructure http endpoints according to latest design (#203)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessageTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: httpclient

bump OSSF scorecard action
  .github/workflows/scorecard.yml
Due: none

bump OSSF scorecard action (#206)
  .github/workflows/scorecard.yml
Due: none

adding success optional boolean field to closedata
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
Due: protocol

making both fields in Close nullable
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol

Issue #204 - Update to latest web5-kt Maven build
  pom.xml
Due: none

Issue #204: Update ci.yml
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
Due: none

Issue #204: Add distribution for single-dependency to get all of tbDEX
  distribution/pom.xml
  pom.xml
Due: none

Issue #204: Update to Maven Build
  .gitignore
  .maven_settings.xml
  bin/.maven-3.9.6.pkg
  bin/mvn
  bin/mvnDebug
  build.gradle.kts
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpclient/pom.xml
  httpserver/build.gradle.kts
  httpserver/pom.xml
  jitpack.yml
  pom.xml
  protocol/build.gradle.kts
  protocol/pom.xml
  settings.gradle.kts
Due: protocol, httpclient

Address tbdex #260
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

adding balance, fixing offerings. wip
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
Due: protocol, httpclient

adding optional success field to close message
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
Due: protocol

Add name, group, and description to PaymentMethod
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
Due: protocol

Add min and max to PaymentMethod
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
Due: protocol

Add estimatedSettlementTime
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
Due: protocol, httpclient

in the middle of refactoring - all tests using test vectors are still failing.
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol

adding a todo
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
Due: protocol

Add OSP Reusable Workflow for Scans
  .github/workflows/security.yaml
Due: none

Path conditions:
  protocol: any of: protocol/
  httpclient: any of: httpclient/
