Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

codecov.yml:

component_management:
  individual_components:
    - component_id: "protocol"
      paths:
        - "protocol/"
    - component_id: "httpclient"
      paths:
        - "httpclient/"

comment:
  layout: "header, diff, components"

Copy json schema and test vectors from tbdex submodule (#124)
  README.md
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
  protocol/src/main/resources/close.schema.json
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/order.schema.json
  protocol/src/main/resources/orderstatus.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/reputation.schema.json
  protocol/src/main/resources/resource.schema.json
  protocol/src/main/resources/rfq.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/MessagesVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ResourceVectorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/resources/test-vectors/parse-close.json
  protocol/src/test/resources/test-vectors/parse-offering.json
  protocol/src/test/resources/test-vectors/parse-order.json
  protocol/src/test/resources/test-vectors/parse-orderstatus.json
  protocol/src/test/resources/test-vectors/parse-quote.json
  protocol/src/test/resources/test-vectors/parse-rfq.json
  protocol/src/test/resources/testVectors.json
Due: protocol

adding tests, aligning exception naming with tbdex-js, addressing code review comments
  httpclient/build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/UtilsTest.kt
Due: httpclient

adding ktdocs for exception constructors
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
Due: httpclient

Update currency representation
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/resource.schema.json
  protocol/src/main/resources/rfq.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
  protocol/src/test/resources/test-vectors/parse-offering.json
  protocol/src/test/resources/test-vectors/parse-quote.json
  protocol/src/test/resources/test-vectors/parse-rfq.json
Due: protocol, httpclient

Merge
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsMessageTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsResourceTest.kt
Due: protocol

PR comments: jsonMapper
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
Due: protocol

Update httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
Due: httpclient

Apply suggestions from code review
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/UtilsTest.kt
Due: httpclient

pulled out request token to its own object. added verifyToken() call to httpserver getexchange handler with a todo
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/RequestTokenTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
Due: httpclient

changing method name
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/RequestTokenTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
Due: httpclient

commenting out use of requesttoken.verify() for now, created an issue for this
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
Due: none

fixing tbdexhttpclient calling requesttoken methods. added a test
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/RequestTokenTest.kt
Due: httpclient

attempting to add pfiDid to tbdexhttpserverconfig and have it accessible by getExchanges()
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: httpclient

pfiDid is not nullable
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
Due: httpclient

Update currency representation (#129)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/resource.schema.json
  protocol/src/main/resources/rfq.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
  protocol/src/test/resources/test-vectors/parse-offering.json
  protocol/src/test/resources/test-vectors/parse-quote.json
  protocol/src/test/resources/test-vectors/parse-rfq.json
Due: protocol, httpclient

Fold paymentInstructions inside payin and payout
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/resources/quote.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/resources/test-vectors/parse-quote.json
Due: protocol

Add diane to codeowners
  CODEOWNERS
Due: none

Add gradle task for junitxml (#130)
  CODEOWNERS
  build.gradle.kts
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsMessageTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsResourceTest.kt
Due: protocol

Allow custom request timeouts to be passed to OkHttp client (#86)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Refactor request token to be a JWT (#125)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/RequestTokenTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: httpclient

Fold paymentInstructions inside payin and payout (#136)
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/resources/quote.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/resources/test-vectors/parse-quote.json
Due: protocol

document the default timeouts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

Maven publishing
  .github/workflows/publish.yaml
  build.gradle.kts
Due: none

Setup CodeQL SAST
  .github/workflows/codeql.yml
Due: none

rename yaml
  .github/workflows/codeql.yaml
Due: none

use vectors directly from submodule instead of copying them
  protocol/build.gradle.kts
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/resources/test-vectors/parse-close.json
  protocol/src/test/resources/test-vectors/parse-offering.json
  protocol/src/test/resources/test-vectors/parse-order.json
  protocol/src/test/resources/test-vectors/parse-orderstatus.json
  protocol/src/test/resources/test-vectors/parse-quote.json
  protocol/src/test/resources/test-vectors/parse-rfq.json
Due: protocol

removed tasks to copy schemas and vectors, added in sourceSets
  protocol/build.gradle.kts
Due: protocol

removed schemas in src/main/resources and update Validator.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
  protocol/src/main/resources/close.schema.json
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/order.schema.json
  protocol/src/main/resources/orderstatus.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/reputation.schema.json
  protocol/src/main/resources/resource.schema.json
  protocol/src/main/resources/rfq.schema.json
Due: protocol

Setup CodeQL SAST (#138)
  .github/workflows/codeql.yaml
Due: none

Rename sdk-development -> web5-spec
  .github/workflows/ci.yaml
Due: none

Enable OSSF Scorecard (#90)
  .github/workflows/scorecard.yml
  README.md
Due: none

sdk-report-runner
  .github/workflows/ci.yaml
Due: none

catching nosuchelementexception
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
Due: none

Update httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
Due: none

removing /rfq from endpoint
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
Due: httpclient

fixing tests
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
Due: httpclient
