Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

codecov.yml:

component_management:
  individual_components:
    - component_id: "protocol"
      paths:
        - "protocol/"
    - component_id: "httpclient"
      paths:
        - "httpclient/"

comment:
  layout: "header, diff, components"

Issue #204: Remove testing configs to be ready for merge
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pom.xml
Due: none

web5-spec -> tbdex, adding git command examples for pushing submodule changes
  README.md
Due: none

Bump web5 to snapshot
  pom.xml
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none

Convert Gradle to Maven Build (#219)
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/tests-publish.yml
  .gitignore
  .maven_settings.xml
  README.md
  bin/.maven-3.9.6.pkg
  bin/gradle
  bin/mvn
  bin/mvnDebug
  build.gradle.kts
  distribution/pom.xml
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpclient/pom.xml
  httpserver/build.gradle.kts
  httpserver/pom.xml
  jitpack.yml
  pom.xml
  protocol/build.gradle.kts
  protocol/pom.xml
  scripts/dokka-configuration.json
  scripts/dokka.sh
  settings.gradle.kts
Due: protocol, httpclient

Issue #234: Prep tbdex-kt for 1.0.0 release:
  .github/workflows/release.yml
  pom.xml
Due: none

Issue #234: Prep tbdex-kt for 1.0.0 release: (#235)
  .github/workflows/release.yml
  pom.xml
Due: none

Issue #234: More prep for tbdex-kt:1.0.0:
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: v1.0.0
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

[TBD Release Manager 🚀] Setting next development version after: v1.0.0
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

Update README.md
  README.md
Due: none

Update README.md (#237)
  README.md
Due: none

update
  pom.xml
Due: none

update (#241)
  pom.xml
Due: none

Fix artifactory SNAPSHOT publishing w/o credentials
  .github/workflows/ci.yml
Due: none

Fix artifactory SNAPSHOT publishing w/o credentials (#242)
  .github/workflows/ci.yml
Due: none

bump web5 version
  pom.xml
Due: none

bump web5 version to 1.1.2 (#243)
  pom.xml
Due: none

bump version fix
  pom.xml
Due: none

bump version fix (#244)
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: v1.1.0
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

[TBD Release Manager 🚀] Setting next development version after: v1.1.0
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

bump `web5` to `2.0.0`
  pom.xml
Due: none

bump `web5` to `2.0.0` (#247)
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: v2.0.0
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

[TBD Release Manager 🚀] Setting next development version after: v2.0.0
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

update test vector
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
Due: protocol

update web5 kt to 2.0.1
  pom.xml
Due: none

update web5 kt to 2.0.1 (#251)
  pom.xml
Due: none

[TBD Release Manager 🚀] Setting version to: vv2.0.1
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

[TBD Release Manager 🚀] Setting next development version after: vv2.0.1
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

[TBD Release Manager 🚀] Setting version to: v2.0.1
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

[TBD Release Manager 🚀] Setting next development version after: v2.0.1
  distribution/pom.xml
  httpclient/pom.xml
  httpserver/pom.xml
  pom.xml
  protocol/pom.xml
Due: protocol, httpclient

Add specs-report on CI
  .github/workflows/ci.yml
Due: none

update readme
  README.md
Due: none

remove github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
