Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

codecov.yml:

component_management:
  individual_components:
    - component_id: "protocol"
      paths:
        - "protocol/"
    - component_id: "httpclient"
      paths:
        - "httpclient/"

comment:
  layout: "header, diff, components"

Add OSP Reusable Workflow for Scans
  .github/workflows/security.yaml
Due: none

Update security.yaml
  .github/workflows/security.yaml
Due: none

Rollback test
  .github/workflows/security.yaml
Due: none

bumping web5-kt version to 0.15.0 and fixing compile errors. still wip, need to refactor CryptoUtils
  gradle/libs.versions.toml
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

Add OSP Reusable Workflow for Scans (#212)
  .github/workflows/security.yaml
Due: none

using Jws.sign in place of CryptoUtils.sign
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
Due: protocol

wrote a method to create decodedjws from detached sig and detached payload, simplifying cryptoutils.verify. tests pass
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
Due: protocol

Use PUT for /exchanges/:exchangeId in client
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

making signature nullable again
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
Due: protocol

Use PUT for /exchanges/:exchangeId in client (#214)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Fix latest releases
  .github/workflows/publish.yaml
Due: none

Fix latest releases (#215)
  .github/workflows/publish.yaml
Due: none

updating build.gradle.kts because danubetech is down. bumping web5-kt again
  build.gradle.kts
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/SignatureVerifier.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
Due: protocol, httpclient

moving typeid dependency to implementation deps and not api deps
  httpclient/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

adding links to docs
  README.md
Due: none

bumping web5-kt version to 0.16.0 (#213)
  README.md
  build.gradle.kts
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/build.gradle.kts
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/SignatureVerifier.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

refactoring method name in vector test
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
Due: protocol

adding ktdocs
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
Due: protocol

more ktdocs
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

adding balance and resource tests for balance. adding balance test vector tests
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/BalanceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/ResourceTest.kt
Due: protocol

adding new client method to fetch balances
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

de-genericizing server methods
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TestServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

reverting tbdex commit to what is currently in tbdex-kt main. made callback cast nullable. tests passing
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TestServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
Due: none

making getexchangesfilter nullable
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

wrote client tests
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
Due: httpclient

Move OSSF Checks to OSP
  .github/workflows/scorecard.yml
Due: none

adding server endpoint for balance api
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetBalances.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/BalancesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeBalancesApi.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
Due: protocol

adding callbacks class to house all callbacks
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

removing extraneous todos, making submitmessage take in the callbacks class
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TestServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
Due: none

removing testserver
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TestServer.kt
Due: none

adding 1 smol test
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
Due: none

tidying up
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
Due: protocol

writing tests
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: none

Protocol spec changes (#211)
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/ResourceData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/BalanceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/ResourceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

adding detekt fixes. still 1 test failing due to rfq schema error
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeBalancesApi.kt
Due: httpclient

adding handler tests with mockk to ensure callbacks are invoked and correct http responses are returned in applicationCall.respond()
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetOfferingsTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessageTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: none

Narrow Message Types being passed into SubmitCallback or GetCallback (#218)
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/ExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeExchangesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/OfferingsApi.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetOfferingsTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessageTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
Due: none
