Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

adding requesterDid to balanceApi.getBalance param. doing an auth token check on getbalances handler method. formatting
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetBalances.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/BalancesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeBalancesApi.kt
Due: none

refactoring existing tests. add new test for getbalance
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeBalancesApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetBalancesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
Due: none

adding ktdoc for fakeBalancesApi#addBalance
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeBalancesApi.kt
Due: none

Apply suggestions from code review
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetBalances.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/BalancesApi.kt
Due: none

adding try catch around parsing balance and offering
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

Update httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

adding balancesEnabled config
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/ServerTest.kt
Due: none

aligning with tbdex-js way of making balancesapi optional
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TestServer.kt
Due: none

removed testserver
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TestServer.kt
Due: none

Implement GetBalance client call and server endpoint (#217)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetBalances.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/BalancesApi.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeBalancesApi.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetBalancesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
Due: protocol, httpclient

Hash Rfq privateData
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/test/kotlin/TestData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Remove config
  httpserver/src/test/kotlin/ServerTest.kt
Due: none

fixing compile errors and explicitly opting into balances, also updating the tbdex submodule
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
Due: none

DRY digest and remove padding = false
  protocol/src/main/kotlin/tbdex/sdk/protocol/SignatureVerifier.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

Add to ktdocs for RfqData
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
Due: protocol

Add ktdocs for PrivatePaymentDetails
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
Due: protocol

require()
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

question mark
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

Encode salt as base64Url
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
Due: protocol

Parse message kinds into specific concrete class
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetBalancesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/Parser.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/BalanceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/MessageTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/ResourceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Fix
  httpserver/src/test/kotlin/ServerTest.kt
Due: none

Create message-kind-specific parse methods and remove circular dependency (#224)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitMessage.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetBalancesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangeTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/Parser.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Balance.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/BalanceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/MessageTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/ResourceTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Move OSSF Checks to OSP (#220)
  .github/workflows/scorecard.yml
Due: none

Unhashed -> Create
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

import order
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

Update protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
Due: protocol

Hash Rfq privateData (#222)
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/SignatureVerifier.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/ValidatorTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

adding forceresolution for netty dep in ktor server
  build.gradle.kts
Due: none

adding forceresolution for netty dep in ktor server (#228)
  build.gradle.kts
Due: none

Force resolution to io.netty:netty-codec-http:4.1.108.Final to avoid CVE-2024-29025
  build.gradle.kts
Due: none

Force resolution to io.netty:netty-codec-http:4.1.108.Final to avoid CVE-2024-29025 (#229)
  build.gradle.kts
Due: none

bumping web5-kt version to 0.17.0
  gradle/libs.versions.toml
Due: none

bumping web5-kt version to 0.17.0 (#230)
  gradle/libs.versions.toml
Due: none

making callbacks object exposed to the caller
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

making callbacks object exposed to the caller (#231)
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

making callbacks public...
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

making callbacks public... (#232)
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

Issue #204: Update to Maven Build
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/security.yml
  .github/workflows/tests-publish.yml
  .gitignore
  .maven_settings.xml
  README.md
  bin/.maven-3.9.6.pkg
  bin/gradle
  bin/mvn
  bin/mvnDebug
  build.gradle.kts
  distribution/pom.xml
  gradle/libs.versions.toml
  httpclient/build.gradle.kts
  httpclient/pom.xml
  httpserver/build.gradle.kts
  httpserver/pom.xml
  jitpack.yml
  pom.xml
  protocol/build.gradle.kts
  protocol/pom.xml
  scripts/dokka-configuration.json
  scripts/dokka.sh
  settings.gradle.kts
Due: protocol, httpclient

Path conditions:
  protocol: any of: protocol/
  httpclient: any of: httpclient/
