Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

codecov.yml:

component_management:
  individual_components:
    - component_id: "protocol"
      paths:
        - "protocol/"
    - component_id: "httpclient"
      paths:
        - "httpclient/"

comment:
  layout: "header, diff, components"

adding exchange state machine class
  protocol/src/main/kotlin/tbdex/sdk/protocol/ExceptionDeclarations.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/Exchange.kt
Due: protocol

Use strings for IDs instead of typeId type
  config/detekt.yml
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/TypeId.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/serialization/Json.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/serialization/TypeIdModule.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Rename file
  protocol/src/main/kotlin/tbdex/sdk/protocol/IdUtils.kt
Due: protocol

detekt changes
  config/detekt.yml
  protocol/src/main/kotlin/tbdex/sdk/protocol/IdUtils.kt
Due: protocol

shorten doc
  protocol/src/main/kotlin/tbdex/sdk/protocol/IdUtils.kt
Due: protocol

Apply suggestions from code review
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

bumping web5-kt version to pull in fix for did dht resolution
  gradle/libs.versions.toml
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
Due: protocol

pulling in latest test vector update from tbdex (#181)
  gradle/libs.versions.toml
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
Due: protocol

Removes Snyk
  .github/workflows/security.yaml
Due: none

Removes Snyk (#185)
  .github/workflows/security.yaml
Due: none

making config and callbacks not private
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

Automate GH Release Publication
  .github/workflows/publish.yaml
Due: none

PR review changes
  config/detekt.yml
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/IdUtils.kt
Due: protocol, httpclient

Use strings for IDs instead of typeId type (#183)
  config/detekt.yml
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/GetExchangesTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitCloseTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrderTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/IdUtils.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/serialization/Json.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/serialization/TypeIdModule.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Split client sendMessage into separate methods
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

wip
  scripts/fossa.js
Due: none

Decouple FOSSA security check
  .github/workflows/security.yaml
Due: none

Security and License Checks
  .github/workflows/security.yaml
Due: none

Split client sendMessage into separate methods (#189)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

Better Workflows Names
  .github/workflows/security.yaml
Due: none

WIP
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetExchanges.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/GetOfferings.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
  httpserver/src/test/kotlin/ServerTest.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
Due: none

Automate GH Release Publication (#188)
  .github/workflows/publish.yaml
Due: none

fossa checks diff against main
  .github/workflows/security.yaml
Due: none

Final prep
  .github/workflows/security.yaml
Due: none

Removes initial script test file
  scripts/fossa.js
Due: none

remove allowable close after order
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
Due: protocol

adress pr review
  .github/workflows/security.yaml
Due: none

final fix
  .github/workflows/security.yaml
Due: none

FOSSA Security and License checks improvements (#190)
  .github/workflows/security.yaml
Due: none

GH Releases Fix and Instructions
  .github/workflows/publish.yaml
  README.md
Due: none

making config and callbacks not private (#186)
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
Due: none

remove allowable close after order (#192)
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
Due: protocol

cache and remove java steps
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
Due: none
