Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

add coverage hipster badge
  README.md
Due: none

add codecov (#80)
  .github/workflows/ci.yaml
  README.md
  build.gradle.kts
  codecov.yml
Due: none

Update link in README
  README.md
Due: none

Refactor http client
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/TbdexResponse.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
Due: protocol, httpclient

Detect sux
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

cleanup
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/TbdexResponse.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
Due: protocol, httpclient

Refactor http client (#81)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/TbdexResponse.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OfferingTest.kt
Due: protocol, httpclient

bump sdk to `0.4.0`
  README.md
  build.gradle.kts
Due: none

copy pasta
  build.gradle.kts
  settings.gradle.kts
  typeid/build.gradle.kts
  typeid/src/main/kotlin/tbdex/sdk/typeid/Base32.kt
  typeid/src/main/kotlin/tbdex/sdk/typeid/TypeId.kt
  typeid/src/test/kotlin/tbdex/sdk/typeid/TypeIdTest.kt
  typeid/src/test/resources/invalid.yml
  typeid/src/test/resources/valid.yml
Due: none

WIP
  typeid/src/test/kotlin/tbdex/sdk/typeid/TypeIdTest.kt
Due: none

Swap out typeid dep
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/serialization/TypeIdModule.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Downgrade java version
  build.gradle.kts
Due: none

using test vectors
  typeid/build.gradle.kts
  typeid/src/main/kotlin/tbdex/sdk/typeid/Base32.kt
  typeid/src/main/kotlin/tbdex/sdk/typeid/TypeId.kt
  typeid/src/test/kotlin/tbdex/sdk/typeid/Base32Test.kt
  typeid/src/test/kotlin/tbdex/sdk/typeid/TypeIdTest.kt
  typeid/src/test/resources/invalid.json
  typeid/src/test/resources/invalid.yml
  typeid/src/test/resources/valid.json
  typeid/src/test/resources/valid.yml
Due: none

Pull in updated web5
  build.gradle.kts
  httpclient/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

Update readme
  README.md
Due: none

Revert "Update readme"
  README.md
Due: none

Fix line length
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol

Make compatible with java 11 (#83)
  README.md
  build.gradle.kts
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/MessageData.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Offering.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Resource.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/serialization/TypeIdModule.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/CloseTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderStatusTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/OrderTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/QuoteTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol, httpclient

Add request logging to httpclient
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

Bump version
  build.gradle.kts
Due: none

Add request logging to httpclient (#87)
  build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

trying out this dep checker
  .github/workflows/licenses.yaml
  allowed-licenses.json
  build.gradle.kts
Due: none

tweak name of action
  .github/workflows/licenses.yaml
Due: none

running license report as part of action
  .github/workflows/licenses.yaml
Due: none

try the check license command
  .github/workflows/licenses.yaml
Due: none

this approach won't work as there are too many null licenses
  allowed-licenses.json
Due: none

Enable OSSF Scorecard
  .github/workflows/scorecard.yml
Due: none

Add OSSF Scorecard Badge to README
  README.md
Due: none

install snyk
  .github/workflows/security.yaml
Due: none

Publish Tests Results in CI
  .github/workflows/ci.yaml
Due: none

Update security.yaml
  .github/workflows/security.yaml
Due: none

Add submodule - doesn't work as expected
  .gitmodules
Due: none

Publish Tests Results in CI (#102)
  .github/workflows/ci.yaml
Due: none

Example of reading from hosted
  .gitmodules
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/resources/testVectors.json
Due: protocol

Use the v for tags, and use DNS over HTTPS
  httpclient/build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  protocol/build.gradle.kts
Due: protocol, httpclient

Back to basics
  httpclient/build.gradle.kts
  protocol/build.gradle.kts
Due: protocol, httpclient

Upgrade web5-kt dep.
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
  protocol/build.gradle.kts
  protocol/src/test/kotlin/tbdex/sdk/protocol/IonSigningTest.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestData.kt
Due: protocol, httpclient

Fix links to schemas.
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/index.html
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/resource.schema.json
Due: protocol

Change to DHT
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
Due: httpclient

Path conditions:
  protocol: any of: protocol/
  httpclient: any of: httpclient/
