Repository TBD54566975/tbdex-kt: changes, and which Codecov flags are due for each by the changed paths.
All: protocol, httpclient

writing an overload method for sendMessage() which specifically handles Rfq message with a replyTo field
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

removing a duplicated type. small refactorings
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/CreateExchangeRequest.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/SendRfqRequest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
Due: httpclient

adding kirah to codeowners
  CODEOWNERS
Due: none

removing unused type
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/SendMessageRequest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
Due: httpclient

removing unused getOrder()
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TestData.kt
Due: httpclient

Rename sdk-development -> web5-spec (#141)
  .github/workflows/ci.yaml
Due: none

Maven publishing (#137)
  .github/workflows/publish.yaml
  build.gradle.kts
Due: none

checking message type before defining url in sendMessage(message)
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

checking out submodules at the time of checking out source
  .github/workflows/ci.yaml
Due: none

Add checkout to publish action
  .github/workflows/publish.yaml
Due: none

Add checkout to publish action (#143)
  .github/workflows/publish.yaml
Due: none

Change docs publishing to trigger on new tags
  .github/workflows/docs.yaml
Due: none

Pull resources from submodules instead of copying from submodules (#139)
  .github/workflows/ci.yaml
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/Validator.kt
  protocol/src/main/resources/close.schema.json
  protocol/src/main/resources/definitions.json
  protocol/src/main/resources/message.schema.json
  protocol/src/main/resources/offering.schema.json
  protocol/src/main/resources/order.schema.json
  protocol/src/main/resources/orderstatus.schema.json
  protocol/src/main/resources/quote.schema.json
  protocol/src/main/resources/reputation.schema.json
  protocol/src/main/resources/resource.schema.json
  protocol/src/main/resources/rfq.schema.json
  protocol/src/test/kotlin/tbdex/sdk/protocol/TestVectors.kt
  protocol/src/test/resources/test-vectors/parse-close.json
  protocol/src/test/resources/test-vectors/parse-offering.json
  protocol/src/test/resources/test-vectors/parse-order.json
  protocol/src/test/resources/test-vectors/parse-orderstatus.json
  protocol/src/test/resources/test-vectors/parse-quote.json
  protocol/src/test/resources/test-vectors/parse-rfq.json
Due: protocol

naming updates
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsResourceTest.kt
Due: protocol

naming updates (#145)
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsProtocol.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/TbdexTestVectorsResourceTest.kt
Due: protocol

fix submitcallback to use message instead of messagetype
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

adding an alias method for createExchange(). added a couple more tests
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
Due: httpclient

adding more description in the original sendMessage() ktdoc
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

adding suspend keyword to submitcallback typealias for callback function. fixed ktdocs
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

change requested by @jiyoon
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

Allow overriding the timeout on each method
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

wrap over-sized line
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
Due: httpclient

fix submitcallback to use message instead of messagetype (#147)
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitClose.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitOrder.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfq.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/Callback.kt
Due: none

Change docs publishing to trigger on new tags (#144)
  .github/workflows/docs.yaml
Due: none

bumping web5-kt version to 0.10.0. fixed compile errors. fixed tests. accepting JsonWebKey as assertionMethodType.
  httpclient/build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
Due: protocol, httpclient

adding a test for the new exception being thrown in requesttoken.generate()
  httpclient/build.gradle.kts
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/RequestTokenTest.kt
Due: httpclient

Extracts Publish Tests Report Action
  .github/workflows/ci.yaml
  .github/workflows/tests-publish.yml
Due: none

Add manual test
  .github/workflows/tests-publish.yml
Due: none

Rollback testing triggers
  .github/workflows/tests-publish.yml
Due: none

bumping web5-kt version to 0.10.0. (#149)
  httpclient/build.gradle.kts
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/ExceptionDeclarations.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/RequestToken.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/Utils.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/RequestTokenTest.kt
  httpserver/build.gradle.kts
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/models/FakeOfferingsApi.kt
  httpserver/src/test/kotlin/TestData.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/SubmitRfqTest.kt
  protocol/build.gradle.kts
  protocol/src/main/kotlin/tbdex/sdk/protocol/CryptoUtils.kt
Due: protocol, httpclient

adding `replyTo` field in http request body to submit RFQ (#140)
  CODEOWNERS
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/TbdexHttpClient.kt
  httpclient/src/main/kotlin/tbdex/sdk/httpclient/models/CreateExchangeRequest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/E2ETest.kt
  httpclient/src/test/kotlin/tbdex/sdk/httpclient/TbdexHttpClientTest.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/TbdexHttpServer.kt
  httpserver/src/main/kotlin/tbdex/sdk/httpserver/handlers/CreateExchange.kt
  httpserver/src/test/kotlin/tbdex/sdk/httpserver/handlers/CreateExchangeTest.kt
Due: httpclient

adjust run id
  .github/workflows/tests-publish.yml
Due: none

Extracts Publish Tests Report Action (#150)
  .github/workflows/ci.yaml
  .github/workflows/tests-publish.yml
Due: none

now publishing to maven
  README.md
Due: none

changing root project name
  settings.gradle.kts
Due: none

using tbdex as rootproject.name
  build.gradle.kts
  settings.gradle.kts
Due: none

Add external id field
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Close.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Message.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Order.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/OrderStatus.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Quote.kt
  protocol/src/main/kotlin/tbdex/sdk/protocol/models/Rfq.kt
  protocol/src/test/kotlin/tbdex/sdk/protocol/models/RfqTest.kt
Due: protocol

update with appropriate instructions
  README.md
Due: none

Path conditions:
  protocol: any of: protocol/
  httpclient: any of: httpclient/
